<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include("./pages/navbar") %>
        <div class="container">
            <table class="table table-bordered" id="result">
                <tr>
                    <th>username</th>
                    <th>password</th>
                    <th>Operation</th>
                </tr>
            </table>
        </div>


        <script src="/javascripts/firebase.js"></script>
</body>

</html>